<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/620d3597-135b-4e7b-b410-6f888ff6c441/resourceGroups/annerd-Lab04/providers/Microsoft.Web/sites/annerd-lab04</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://annerd-lab04.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>annerd-lab04.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>annerd-lab04</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$annerd-lab04</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>