<form (submit)="submit(registerForm)" #registerForm="ngForm">
  <mat-form-field>
    <input placeholder="User name" name="username" [(ngModel)]="model.username" matInput required />
  </mat-form-field>

  <mat-form-field>
    <input placeholder="Password" name="password" [(ngModel)]="model.password" matInput required />
  </mat-form-field>

  <mat-form-field>
    <input placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="model.confpassword" matInput required />
  </mat-form-field>

  <button type="submit" class="registerInput" id="registerSubmit" mat-raised-button color="primary">REGISTER</button>
  <button type="reset" class="registerInput" id="reset" mat-raised-button color="primary">CLEAR</button>
</form>
